<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seed.mapper.SystemClassificationMapper">
  <resultMap id="BaseResultMap" type="seed.entity.SystemClassification">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="creator_time" jdbcType="TIMESTAMP" property="creatorTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="modifier_time" jdbcType="TIMESTAMP" property="modifierTime" />
  </resultMap>
  <!-- 配置数据库表名称 -->
  <sql id="table">`tb_system_classification`</sql>


  <!-- 配置数据库表主键字段名称  -->
  <sql id="pk_col">`tb_system_classification`.`id`</sql>

  <!-- 配置实体主键字段 -->
  <sql id="pk_prop">#{id}</sql>

  <!-- 配置数据库表字段列表信息 -->
  <sql id="cols">
    <include refid="table"/>.`id`,
    <include refid="table"/>.`name`,
    <include refid="table"/>.`type`,
    <include refid="table"/>.`content`,
    <include refid="table"/>.`creator_id`,
    <include refid="table"/>.`creator_name`,
    <include refid="table"/>.`creator_time`,
    <include refid="table"/>.`modifier_id`,
    <include refid="table"/>.`modifier_name`,
    <include refid="table"/>.`modifier_time`
  </sql>

  <!-- 配置实体类属性信息 -->
  <sql id="props">
    #{id},
    #{name},
    #{type},
    #{content},
    #{creatorId},
    #{creatorName},
    #{creatorTime},
    #{modifierId},
    #{modifierName},
    #{modifierTime}
  </sql>

  <!-- 更新操作字段对应列表 -->
  <sql id="update_content">
    <include refid="table"/>.`content` = #{content}
  </sql>



  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select  <include refid="cols" />
    from <include refid="table"/>
    where
    <include refid="pk_col"/>
    =
    <include refid="pk_prop"/>
  </select>

  <select id="getByNameAndType" resultMap="BaseResultMap">
    select  <include refid="cols" />
    from <include refid="table"/>
    where
    `name` = #{name} and `type` = #{type}
  </select>

  <insert id="save" parameterType="seed.entity.SystemClassification" keyProperty="id">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      select gen_ticket64() as ticket
    </selectKey>
    INSERT INTO
    <include refid="table"/>
    (<include refid="cols"/>)
    VALUES (<include refid="props"/>)
  </insert>


  <select id="findByType" resultMap="BaseResultMap">
    select
    <include refid="cols"/>
    from
    <include refid="table"/>

    where `type` = #{type}

    order by <include refid="table"/>.`creator_time` desc

  </select>

  <select id="getCountByType" resultType="java.lang.Integer">
    select
    count(1)
    from
    <include refid="table"/>

    where `type` = #{type}
  </select>

  <delete id="delete">
    delete from
    <include refid="table"/>
    where
    <include refid="pk_col"/>
    =
    <include refid="pk_prop"/>
  </delete>

  <update id="updateContent" parameterType="seed.entity.Bug">
    update
    <include refid="table"/>
    set
    <include refid="update_content"/>
    where
    <include refid="pk_col"/>
    =
    <include refid="pk_prop"/>
  </update>

</mapper>